.dashboardPage {
  margin: var(--mainpagewidth);
}

.dashboardTopSection {
  margin-top: 20px;
  margin-bottom: 15px;
}

.dbHeroSection {
  height: 100px;
  background-image: url('https://plus.unsplash.com/premium_photo-1681487889879-80e84363416c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  height: 100px;  
  position: relative;
  display: flex;
  align-items: end;
  padding-left: 15px;
}

.dbHeroSection p {
  padding: 10px;
  font-weight: bold;
  font-size: clamp(var(--default-font-size), 2vw, var(--h2-font-size)); /* dynamic scaling of size*/
  color: var(--background-color);
  margin-bottom: 5px;
}

.dashboardBotSection {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.dbLeftSection {
  flex: 2;
  /* background-color: red; */
  /* height: 100px; */
}

.dbCardSection {
  /*  */
  margin-bottom: 40px;
}

.dbCardSection h3 {
  font-size: var(--title-font-size);
  color: var(--text-color);
  margin-bottom: 15px;
  border-bottom: var(--border-bottom);
  padding: 10px;
}

.dbCardSection .statusCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.dbUpcomingTicketSection {
  padding-bottom: 30px;
}

.dbUpcomingTicketSection h3 {
  font-size: var(--title-font-size);
  color: var(--text-color);
  margin-bottom: 15px;
  border-bottom: var(--border-bottom);
  padding: 10px;
}

.dbRightSection {
  flex: 1;
  /* background-color: blue;
  height: 100px; */
}

.dbTicketSection {
  margin-bottom: 20px;
  padding-bottom: 20px;
  /* background-color: green; */
}

.dbTicketSection h3 {
  font-size: var(--title-font-size);
  color: var(--text-color);
  margin-bottom: 15px;
  border-bottom: var(--border-bottom);
  padding: 10px;
}

@media (max-width: 768px) {

  .dashboardPage {
    margin: var(--mainpageminWidth);
  }
  .dashboardBotSection {
    flex-direction: column;
  }

  .dbLeftSection {
    flex: 1;
  }

  .dbCardSection .statusCont {
    flex-direction: column;
    gap: 5px;
  }

  .dbUpcomingTicketSection {
    margin-bottom: 20px;
  }

  .dbRightSection {
    flex: 1;
  }

  .dbTicketSection {
    margin-bottom: 70px;
  }

}
