.input {
    height: 40px;
    border-radius: 4px;
    width: 100%;
}

.dropdown {
    height: 40px;
    border-radius: 4px;
    width: 100%; /* Changed from 200px to 100% */
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 12px;
}

.steps {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: var(--table-font-size);
    gap: 12px;
    border: 1px solid black;
    padding: 24px 36px 12px 36px;
    border-radius: 4px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.formDropdown {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.actionContainer {
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px 12px 12px 12px;
}


.button {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
}