
.ticketPage {
  margin: var(--mainpageminWidth);
}

.ticketPageTop {
  margin-bottom: 20px;
}

.ticketPageTitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ticketPageTitle h3 {
  font-size: var(--h1-font-size);
  color: var(--text-color);
  border-bottom: 1px solid #ddd; 
}