.ticketTableWrapper {
  overflow-x: auto;
}

.ticketTable {
  width: 100%;
  border-collapse: separate;
  border-radius: 4px;
  overflow: hidden;
  border: var(--border-bottom);
}

.ticketRow {
  background-color: var(--background-color);
  border-bottom: 1px solid;
  transition: background-color 0.2s;
  margin-bottom: 20px;
}

.ticketRow:hover {
  background-color: #e6f7ff;
}

.ticketCell {
  padding: 10px;
  font-size: var(--table-font-size);
  color: var(--text-color);
  text-align: left;
}

.ticketCell.subject {
  color: var(--information-color);
}

/* other styles are in the general table style */

.barCell .tag {
  width: 20px;
  height: 50px;
  background-color: var(--information-color);
  border-radius: 2px;
  /* margin-right: 10px; */
}



