.configure {
    width: 70%;
}

.step {
    width: 30%;
    padding: 0px 12px 0px 0px
}

.whole {
    display: flex;
    flex-direction: row;
}

.main {
    margin: var(--mainpagewidth);
    padding: 20px 0px 100px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
