.ticketActionWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.ticketActionOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
  z-index: 1000;
}

.ticketActionPage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  z-index: 1001;
  width: 100%;
  height: 70%;
  max-width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  padding: 10px 50px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.ticketActionPage button {
  margin: 10px 0;
  padding: 5px 15px;
  border-radius: 8px;
  border: none;
  background-color: var(--primary-color);
  color: var(--background-color);
  cursor: pointer;
}

.ticketActionTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticketActionTitle h1 {
  font-size: var(--h1-font-size);
  color: var(--text-color);
}

.ticketActionTitle button {
  font-size: var(--default-font-size);
  font-weight: bold;
  padding: 5px 50px;
  border-radius: 8px;
  border: none;
  color: var(--background-color);
  background-color: var(--success-color);
  cursor: pointer;
}

.ticketActionSubject {
  display: flex;
  margin-bottom: 10px;
}

.ticketActionSubject h1 {
  font-size: var(--h1-font-size);
  color: var(--text-color);
}

.ticketActionMeta {
  display: flex;
  flex-direction: column;
  font-size: var(--default-font-size);
  color: var(--text-color);
  margin-bottom: 10px;
}

.ticketActionStatus {
  margin-bottom: 20px;
}

.actionStatus {
  width: 100%;
}

.ticketActionDesciption {
  max-height: 70vh;
  overflow-y: auto;
  margin-bottom: 10px;
}

.ticketActionDesciption h3 {
  font-size: var(--title-font-size);
}

.ticketActionDesciption p {
  font-size: var(--default-font-size);
}

.ticketActionInput textarea {
  width: 100%;
  height: auto;
  min-height: 150px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
}

.ticketActionUpload {
  font-size: var(--table-font-size);
}

.ticketActionUpload input[type="file"] {
  width: 100%;
  padding: 10px;
  font-size: var(--default-font-size);
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  cursor: pointer;
}

.ticketActionUpload input[type="file"]:hover {
  border-color: #aaa;
}

@media (max-width: 768px) {
  .ticketActionPage {
    width: 90%;
    height: 50vh;
    padding: 20px;
    max-height: none;
  }

  .ticketActionTitle h1 {
    font-size: var(--title-font-size);
  }

  .ticketActionTitle button {
    font-size: 14px;
    padding: 5px 20px;
  }

  .ticketActionSubject h1 {
    font-size: var(--title-font-size);
  }

  .ticketActionMeta {
    font-size: var(--table-font-size);
  }

  .ticketActionDesciption h3 {
    font-size: var(--table-head-size);
  }

  .ticketActionDesciption p {
    font-size: var(--table-font-size);
  }

  .ticketActionUpload input[type="file"] {
    padding: 8px;
    font-size: var(--table-font-size);
  }
}
