
.statCard {
  background-color: var(--background-color);
  padding: 20px 5px;
  border-radius: 5px;
  min-width: 180px;
  border: var(--border-bottom);
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.1); */
  text-align: center;
}

.statNumber {
  font-size: var(--h2-font-size);
  color: var(--text-color);
  font-weight: bold;
}

.underline {
  height: 3px;
  width: 50%;
  border-radius: 8px;
  margin: 10px auto;
  /* background-color: green; */
}

/* Color variants */
.open { background-color: #175CD3; }      /* blue */
.onHold { background-color: #FDB022; }    /* yellow */
.approved { background-color: #0C8F54; }  /* green */
.rejected { background-color: #D92D20; }  /* red */

.label {
  font-size: var(--table-font-size);
  color: var(--text-color);
}