
.recentUpdatesWrapper {
  background-color: var(--background-color);
  display: flex;
  gap: 10px;
  border: var(--border-bottom);
  border-radius: 4px;
  padding: 10px;
}

.ruAvatar {
  background-color: gray;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.recentUpdatesRight {
  display: flex;
  flex-direction: column;
}

.recentUpdatesRight p {
  font-size: var(--table-font-size);
}

.ruContentTicket {
  color: var(--information-color);
  font-weight: bold;
}

.ruDescription {
  color: var(--text-color);
  text-overflow: ellipsis;
}

.ruTime {
  color: var(--label-color);
}
