.archiveTicketPage {
  margin: var(--mainpageminWidth);
}

.archiveTicketTop {
  margin-bottom: 20px;
}

.archiveTicketTitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

.archiveTicketTitle h3 {
  font-size: var(--h1-font-size);
  color: var(--text-color);
  border-bottom: var(--border-bottom); 
}

