.profileModalPage {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 250px;
  z-index: 10;
  padding: 10px;
}

.pmNameSection {
  display: flex;
  margin: 10px 0;
}

.pmNameSection {
  font-size: var(--table-font-size);
}

.pmName {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: var(--text-Color);
}

.pmPicture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ddd;
  margin-right: 10px;
}

.pmAccSection,
.pmLogoutSection {
  display: flex;
  padding: 10px;
  gap: 10px;
  cursor: pointer;
}

.pmAccSection span,
.pmLogoutSection span {
  font-size: var(--table-font-size);
  color: var(--textColor);
}

.pmAccSection:hover,
.pmLogoutSection:hover {
  background-color: #ddd;
}

.pmIcon {
  font-size: var(--table-font-size);
  color: var(--textColor);
}
