  .agentNav {
    background-color: var(--primary-color) ;
    color: var(--background-color);
    text-align: right;
    padding: 2px 20px;
    font-size: var(--table-font-size);
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  }

  .adminNav {
    background-color: dodgerblue ;
    color: var(--background-color);
    text-align: right;
    padding: 2px 20px;
    font-size: var(--table-font-size);
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  }
