.card {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 4px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 12px;
}

.accent {
    width: 15%;
    height: 100%;
    background-color: aqua;
}

.cardContainer {
    font-size: var(--table-head-size);
    display: flex;
    flex-direction: column;
    gap: 23px;
    justify-content: space-between;
}