.dropdown, .btn, .SearchBar,.SearchBarContainer {
  height: 40px;
  border-radius: 4px;
}


.dropdown {
  width: 100%;
  font-size: var(--table-font-size-px);
}

.btn {
  width: 70px;
}

.circlebutton {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding: 0; /* Override padding for perfect circle */
}

.FormContainer {
  gap: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SearchBar {
  width: 100%;
  border: none;
  outline: none; /* Removes default focus outline */
  box-shadow: none; /* Prevents any focus shadow */
}

.SearchBarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  border: 0.5px solid black;
  overflow: hidden;
  width: 100%;
}